<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../styles/nongsan.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css" />

</head>

<body>
    <div class="header">
        <nav class="navbar navbar-expand-md navbar-dark " style="background-color: #0e1310;opacity: 0.7;">
            <a class="navbar-brand" href="#"><img src="../assets/images/header-logo.png" alt=""></a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-float float-left ">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">TRANG TIN <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">NÔNG SẢN</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">GIỎ HÀNG</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">THÚY TRẦN</a>
                    </li>
                    <li>
                      <i class="fa fa-user active" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </nav>
      </div>
  <div class="maincontent">
    <div class="container">
      <div class="row">
        <i class="fa fa-home" aria-hidden="true">Trang chủ>Nông sản</i>
      </div>
      <h2 class="text-center">Tin Mới</h2>
      <div class="row nongsan text-center">
        <div class="col-md-4">
          <img src="../assets/images/nongsan/nongsan1.png" alt="" class="nongsan-image">
          <h4 class="nongsan-name">Cam Bố Hạ</h4>
          <p class="nongsan-price">Giá bán: 35,000 VND/kg</p>
          <button type="button" name="" id="" class="btn btn-warning btn-sm">XEM CHI TIẾT</button>
          <p class="nongsan-author"><i>Thúy Trần</i></p>
        </div>
        <div class="col-md-4">
          <img src="../assets/images/nongsan/nongsan2.png" alt="" class="nongsan-image">
          <h4 class="nongsan-name">Mì Chũ</h4>
          <p class="nongsan-price">Giá bán: 22,000 VND/kg</p>
          <button type="button" name="" id="" class="btn btn-warning btn-sm">XEM CHI TIẾT</button>
          <p class="nongsan-author"><i>Thúy Trần</i></p>
        </div>
        <div class="col-md-4">
          <img src="../assets/images/nongsan/nongsan3.png" alt="" class="nongsan-image">
          <h4 class="nongsan-name">Rượu Làng Vân</h4>
          <p class="nongsan-price">Giá bán: 35,000 VND/kg</p>
          <button type="button" name="" id="" class="btn btn-warning btn-sm">XEM CHI TIẾT</button>
          <p class="nongsan-author"><i>Thúy Trần</i></p>
        </div>
        <div class="col-md-4">
          <img src="../assets/images/nongsan/nongsan4.png" alt="" class="nongsan-image">
          <h4 class="nongsan-name">Vịt cỏ Vân Đình</h4>
          <p class="nongsan-price">Giá bán: 35,000 VND/kg</p>
          <button type="button" name="" id="" class="btn btn-warning btn-sm">XEM CHI TIẾT</button>
          <p class="nongsan-author"><i>Thúy Trần</i></p>
        </div>
        <div class="col-md-4">
          <img src="../assets/images/nongsan/nongsan5.png" alt="" class="nongsan-image">
          <h4 class="nongsan-name">Vải Thiều</h4>
          <p class="nongsan-price">Giá bán: 35,000 VND/kg</p>
          <button type="button" name="" id="" class="btn btn-warning btn-sm">XEM CHI TIẾT</button>
          <p class="nongsan-author"><i>Thúy Trần</i></p>
        </div>
        <div class="col-md-4">
          <img src="../assets/images/nongsan/nongsan6.png" alt="" class="nongsan-image">
          <h4 class="nongsan-name">Gà Đồi Yên Thế</h4>
          <p class="nongsan-price">Giá bán: 180,000 VND/kg</p>
          <button type="button" name="" id="" class="btn btn-warning btn-sm">XEM CHI TIẾT</button>
          <p class="nongsan-author"><i>Thúy Trần</i></p>
        </div>
        <div class="col-md-4">
          <img src="../assets/images/nongsan/nongsan7.png" alt="" class="nongsan-image">
          <h4 class="nongsan-name">Vịt cỏ Vân Đình</h4>
          <p class="nongsan-price">Giá bán: 35,000 VND/kg</p>
          <button type="button" name="" id="" class="btn btn-warning btn-sm">XEM CHI TIẾT</button>
          <p class="nongsan-author"><i>Thúy Trần</i></p>
        </div>
        <div class="col-md-4">
          <img src="../assets/images/nongsan/nongsan8.png" alt="" class="nongsan-image">
          <h4 class="nongsan-name">Vải Thiều</h4>
          <p class="nongsan-price">Giá bán: 35,000 VND/kg</p>
          <button type="button" name="" id="" class="btn btn-warning btn-sm">XEM CHI TIẾT</button>
          <p class="nongsan-author"><i>Thúy Trần</i></p>
        </div>
        <div class="col-md-4">
          <img src="../assets/images/nongsan/nongsan9.png" alt="" class="nongsan-image">
          <h4 class="nongsan-name">Gà Đồi </h4>
          <p class="nongsan-price">Giá bán: 140,000 VND/kg</p>
          <button type="button" name="" id="" class="btn btn-warning btn-sm">XEM CHI TIẾT</button>
          <p class="nongsan-author"><i>Thúy Trần</i></p>
        </div>
      </div>
      <nav aria-label="Page navigation example" >
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
  </div>
  <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-logo">
            <img src="../assets/images/footer-logo.png" alt="" />
          </div>
          <div class="col-md-4 about">
            <div class="row">
              <p>BACGIANGFARM</p>
            </div>
            <div class="row">
              <a href="#" class="about">Giới thiệu</a>
              <a href="#" class="about">Chính sách</a>
            </div>
          </div>
          <div class="col-md-4 footer-follow">
            <div class="row">
              <p>FOLLOW US</p>
            </div>
            <div class="row">
              <div class="footer-top-icons">
                <a href="#"><i class="fab fa-facebook    "></i></a>
                <a href="#"><i class="fab fa-google-plus    "></i></a>
                <a href="#"><i class="fab fa-twitter    "></i></a>
                <a href="#"><i class="fab fa-linkedin    "></i></a>
  
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="footer-bottom d-flex p-auto justify-content-around align-items-center">
            <p>Liên hệ:</p>
            <i class="fa fa-phone" aria-hidden="true"> 0972513172</i>
            <i class="fa fa-envelope-open" aria-hidden="true"> thuytranbn@hotmail.com</i>
          </div>
        </div>
      </div>
    </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>